body {
  background-color: #090909;
  font-family: "Poppins", sans-serif;
}

.login-title {
  margin-top: 38px;
  color: rgb(252, 251, 251);
}

.login-form {
  background-color: #0f0f0f;
  text-align: center;
  border-radius: 30px;
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  box-shadow: rgba(33, 34, 20, 0.4) 0px 0px 0px 2px,
    rgba(12, 12, 7, 0.65) 0px 4px 6px -1px,
    rgba(87, 79, 27, 0.08) 0px 1px 0px inset;
}

.custom-input-field input {
  background-color: #080808;
  border: none;
  border-radius: 5px;
  color: white;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 1rem;
}

.login-password {
  margin-bottom: 15px;
}

.login-button button {
  text-align: center;
  width: 310px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: baggound-color 0.3s ease;
  margin-bottom: 0px;
}

.login-button button:hover {
  background-color: #0056b3;
}

.login-divider {
  text-align: center;
  color: #888;
  position: relative;
  margin: 30px 0 16px;
}

.login-divider::before,
.login-divider::after {
  content: "";
  height: 1px;
  width: 60%;
  background: #888;
  position: absolute;
  top: 50%;
}

.login-divider::before {
  left: 100px;
}

.login-divider::after {
  right: 100px;
}

.login-divider span {
  padding: 0 10px;
  background: #110f0f;
  position: relative;
  z-index: 1;
}

.login-subtext {
  margin-top: 30px;
  color: #918f8f;
  font-size: 14px;
}

.login-subtext a {
  color: white;
  text-decoration: none;
}

.login-subtext a:hover {
  text-decoration: underline;
}
