body {
  background-color: #090909;
  font-family: "Poppins", sans-serif;
}

.login-title {
  margin-top: 38px;
  color: rgb(252, 251, 251);
}

.login-form {
  background-color: #101010;
  text-align: center;
  border-radius: 30px;
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  /* box-shadow: rgba(108, 108, 109, 0.1) 0px 4px 16px,
    rgba(100, 100, 102, 0.1) 0px 8px 24px, rgba(83, 83, 85, 0.1) 0px 16px 56px; */
  box-shadow: rgb(233 229 229 / 10%) 0px 4px 16px,
    rgb(243 240 240 / 10%) 0px 8px 24px, rgb(230 230 236 / 10%) 0px 16px 56px;
}

.custom-input-field input {
  background-color: #1d1c1c;
  border: none;
  border-radius: 5px;
  color: white;
  width: 300px;
  height: 40px;
  padding-left: 30px;
  margin-bottom: 1rem;
  position: relative;
}

.login-email .icon {
  position: absolute;
  top: 26%;
  left: 18%;
  color: rgb(56, 55, 55);
}

/* .login-password {
  margin-bottom: 15px;
} */

.login-password input {
  position: relative;
}

.login-password .icon {
  position: absolute;
  top: 40%;
  left: 18%;
  color: rgb(56, 55, 55);
}

.login-button button {
  text-align: center;
  width: 310px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: baggound-color 0.3s ease;
  margin-bottom: 0px;
}

.login-button button:hover {
  background-color: #0056b3;
}

.login-divider {
  text-align: center;
  color: #888;
  position: relative;
  margin: 30px 0 16px;
}

.login-divider::before,
.login-divider::after {
  content: "";
  height: 1px;
  width: 60%;
  background: #888;
  position: absolute;
  top: 50%;
}

.login-divider::before {
  left: 100px;
}

.login-divider::after {
  right: 100px;
}

.login-divider span {
  padding: 0 10px;
  background: #0b0b0b;
  position: relative;
  z-index: 1;
}

.login-subtext {
  margin-top: 30px;
  color: #918f8f;
  font-size: 14px;
}

.login-subtext a {
  color: white;
  text-decoration: none;
}

.login-subtext a:hover {
  text-decoration: underline;
}
