.signup-page {
  background-color: #3c3a3a;
}

.signup-form {
  background-color: white;
  text-align: center;
  border-radius: 30px;
  width: 500px;
  height: 485px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  box-shadow: rgb(51 49 49 / 10%) 0px 4px 16px,
    rgb(148 142 142 / 10%) 0px 8px 24px, rgb(165 159 159 / 10%) 0px 16px 56px;
}

.signup-title {
  color: rgb(80 58 58);
  margin-top: 50px;
}

.custom-input-field:placeholder {
  text-align: left;
}

.signup-button button {
  background-color: rgb(80 58 58);
  height: 40px;
  width: 330px;
  margin-top: 17px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: baggound-color 0.3s ease;
}

.signup-button button:hover {
  background-color: rgb(62, 44, 44);
}

.signup-error-message {
  color: rgb(242 32 32);
  margin: 0;
  font-size: 14px;
  height: 20px;
  visibility: hidden;
}

.signup-error-message.visible {
  visibility: visible;
}

.signup-error {
  height: 20px;
  margin-top: 0px;
}

.signup-email {
  margin-left: 0px;
}
